*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

/*Header*/

a{
    text-decoration: none;
    color: white;
    
}

li{
    list-style: none;
    margin-right: 7px;
}

.barra{
    width: 100%;
    height: 50px;
    background-color: #ff6900;
    border-bottom: 2px solid rgba(169, 169, 169, 0.5);
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lb{
    align-items: center;
}

#logo{
    width: 100px;
}

.funzioni i{
    cursor: pointer;
    margin-right: 3px;
    
}

/*main*/

.container{
    flex-wrap: wrap;
    padding: 30px 140px;
    justify-content: center;
}

.card{
    min-width: 276px;
    height: 450px;
    margin: 14px;
    flex-direction: column;
    position: relative;
    
}

.card img{
    height: 85%;
    width: 100%;
}

.cuore{
    width: 40px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cuore:hover p{
    color: red;
}

.cuore p{
    font-size: 23px;
}

.specifiche{
    height: 15%;
    width: 100%;
    font-size: 13px;
    padding-top: 4px;
    
}

.prezzo{
    color: red;
}

.prezzo span{
    color: black;
    text-decoration:line-through;
}

.sconto{
    height: 15px;
    position: absolute;
    bottom: 90px;
    left: 0px;
    background-color: red;
    color: white;
    font-size: x-small;
    padding: 8px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sos{
    height: 15px;
    position: absolute;
    bottom: 90px;
    left: 39px;
    background-color: green;
    color: white;
    font-size: x-small;
    padding: 8px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer*/

.inferiore{
    padding: 20px;
    background-color: black;
    height: 90px;
}

.ineriore-info{
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

#info{
    width: 200px;
    height: 100%;
    color: white;
}

#social{
    width: 200px;
    height: 100%;
    color: white;
}

